<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styleguide.css">
        <link rel="icon" type="image/png" href="img/fav.png">
    </head>
    <body id="admin-home">
        <header>
            <div class="navbar">
                <span id="theater"><h1>Your Theater</h1></span>
                <div class="flex">
                    <input type="text" name="search" id="search" placeholder="Movie Title, Genre, or Showtime...">
                    <label for="search"><button type="button" id="search-input">Search</button></label>
                    <h3 class="nav">Home</h3>
                    <h3 class="nav">Categories</h3>
                    <h3 class="nav">Admin</h3>
                    <span class="cart-area">
                        <h3 class="nav">Cart</h3>
                        <img src="img/cart-black.png" id="cart">
                    </span>
                </div>
            </div>
        </header>
        <main>
            <div class="admin-buttons">
                <button type="button">Manage Movies</button>
                <button type="button">Manage Promotions</button>
                <button type="button">Manage Users</button>
                <button type="button">Sign Out</button>
            </div>
        </main>
    </body>
</html>