<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <title>Cart</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/newstyle.css"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <style>.iframe-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
  .iframe-embed-wrapper {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
  }
  .iframe-embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 70%;
    padding: 10px;
  }

  .column2 {
    float: left;
    width: 30%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .column2 {
      width: 100%;
    }
  }
  </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cinema E-Booking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div sec:authorize="isAuthenticated() || isAnonymous()">
          <a class="btn btn-secondary" th:href="@{/}">Home</a>
        </div>

        <div sec:authorize="isAuthenticated() || isAnonymous()">
          <a class="btn btn-secondary" th:href="@{/categories}">Categories</a>
        </div>

        <div sec:authorize="isAnonymous()">
          <a class="btn btn-secondary" th:href="@{/login}">Login</a>
        </div>

        <div sec:authorize="isAnonymous()">
          <a class="btn btn-secondary" th:href="@{/register}">Register</a>
        </div>

        <div sec:authorize="isAuthenticated() || isAnonymous()">
          <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-secondary" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')">
          <a class="btn btn-success" th:href="@{/admin-portal}">Admin Portal</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-secondary" href="javascript: logoutForm.submit();">Logout</a>
        </div>

        <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
          <input type="submit" value="Logout" />
        </form>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
        <div style="float:left;">
          <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2" minlength="1"
                 id="inputSearch" placeholder="Search">
        </div>
        <div style="float:left;">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </div>
      </form>
    </div>
  </nav>
</header>

<!--        <th:block th:each="allBookedShowings: ${allBookedShowings}">
          <div class="col">
            <a th:text="${allBookedShowings.getTime()} + ' on ' + ${allBookedShowings.getDate()}"></a>
          </div>
          <br>
          <br>
        </th:block>-->

<div class="container bootdey">
  <div class="row bootstrap snippets">

    <div class="clearfix visible-sm"></div>

    <!-- Cart -->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-lg-12 col-sm-12">
        <span class="title">SHOPPING CART</span>
      </div>
      <div class="col-lg-12 col-sm-12 hero-feature">
        <div class="table-responsive">
          <table class="table table-bordered tbl-cart">
            <thead>
            <tr>
              <td class="hidden-xs">Image</td>
              <td>Product Name</td>
              <td>Size</td>
              <td>Color</td>
              <td class="td-qty">Quantity</td>
              <td>Unit Price</td>
              <td>Sub Total</td>
              <td>Remove</td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="hidden-xs">
                <a href="#">
                  <img src="https://via.placeholder.com/200x200/" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                </a>
              </td>
              <td><a href="#">Age Of Wisdom Tan Graphic Tee</a>
              </td>
              <td>
                <select name="">
                  <option value="" selected="selected">S</option>
                  <option value="">M</option>
                </select>
              </td>
              <td>-</td>
              <td>
                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="" value="1" class="input-qty form-control text-center" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
              </td>
              <td class="price">$ 122.21</td>
              <td>$ 122.21</td>
              <td class="text-center">
                <a href="#" class="remove_cart" rel="2">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="hidden-xs">
                <a href="#">
                  <img src="https://via.placeholder.com/200x200/" alt="Adidas Men Red Printed T-shirt" title="" width="47" height="47">
                </a>
              </td>
              <td><a href="#">Adidas Men Red Printed T-shirt</a>
              </td>
              <td>
                <select name="">
                  <option value="">S</option>
                  <option value="" selected="selected">M</option>
                </select>
              </td>
              <td>
                <select name="">
                  <option value="" selected="selected">Red</option>
                  <option value="">Blue</option>
                </select>
              </td>
              <td>
                <div class="input-group bootstrap-touchspin"><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="" value="2" class="input-qty form-control text-center" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
              </td>
              <td class="price">$ 20.63</td>
              <td>$ 41.26</td>
              <td class="text-center">
                <a href="#" class="remove_cart" rel="1">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="6" align="right">Total</td>
              <td class="total" colspan="2"><b>$ 163.47</b>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="btn-group btns-cart">
          <button type="button" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
          <button type="button" class="btn btn-primary">Update Cart</button>
          <button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button>
        </div>

      </div>
    </div>
    <!-- End Cart -->
  </div>
</div>


</body>
</html>