<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Delete Promotion</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</head>
<body id="background">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cinema E-Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/}">Home</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/categories}">Categories</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/login}">Login</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-success" th:href="@{/register}">Register</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-secondary" th:href="@{/admin-portal}">Admin Portal</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" href="javascript: logoutForm.submit();">Logout</a>
                </div>

                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
                    <input type="submit" value="Logout" />
                </form>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
                <div style="float:left;">
                    <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2 vertical-center" minlength="1"
                           id="inputSearch" placeholder="Search">
                </div>
                <div style="float:left;">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 vertical-center">Search</button>
                </div>
            </form>
        </div>
    </nav>
</header>
<div class="container text-center">
    <div>
        <h3 th:text="'Are you sure you want to delete Promotion #' + ${promo.promotionID}  + ' with code ' + ${promo.code} + '?'">Are you sure you want to delete Promotion?</h3>
    </div>
    <form th:action="@{/process_delete_promotion}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <form class="m-3">
            <input type="hidden" th:value="${promo.promotionID}" th:name="promotionID" th:id="promotionID" class="form-control"/>
            <div class="row">
                <!-- panel-footer -->
                <div class="col-6 text-left">
                    <div class="previous">
                        <a class="btn btn-secondary" th:href="@{/manage-promotions}">Cancel</a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="next">
                        <button type="submit" class="btn btn-danger">Confirm
                            <span class=""></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </form>
</div>
</body>
</html>