<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit Movie - Cinema E-Booking</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/newstyle.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cinema E-Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/}">Home</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/categories}">Categories</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/login}">Login</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-success" th:href="@{/register}">Register</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-secondary" th:href="@{/admin-portal}">Admin Portal</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" href="javascript: logoutForm.submit();">Logout</a>
                </div>

                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
                    <input type="submit" value="Logout" />
                </form>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
                <div style="float:left;">
                    <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2" minlength="1"
                           id="inputSearch" placeholder="Search">
                </div>
                <div style="float:left;">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </div>
            </form>
        </div>
    </nav>
</header>
<div class="container text-center">
    <div>
        <br>
        <h1>Manage Movies - Edit Movie</h1>
        <p>* fields are required</p>
        <br>
        <h3>General Movie Info</h3>
    </div>
    <form th:action="@{/process_editMovie}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <form class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Movie Title* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.title}" th:name="title" th:id="title" class="form-control"  placeholder="Movie 2 : The Second"
                    />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Cast* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.cast}" th:name="cast" th:id="cast"
                           class="form-control"
                           required minlength="2"  placeholder="John Doe, Bob Daniel, ..."/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Director* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.director}" th:name="director" th:id="director"
                           class="form-control"  placeholder="Director Person"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Producer* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.producer}" th:name="producer" th:id="producer"
                           class="form-control"  placeholder="Producer Person"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <!-- form for the trailer link -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Trailer link* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.trailer}" th:name="trailer" th:id="trailer"
                           class="form-control"  placeholder="Code at end of Youtube URL (ie. dQw4w9WgXcQ)"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>

            <!-- form for the movie's sypnosis -->
            <div class="form-group row">
                <label class="col-4 col-form-label">Synopsis* : </label>
                <div class="col-8">
                    <input type="text" th:value="${movie.synopsis}" th:name="synopsis" th:id="synopsis"
                           class="form-control" placeholder="This movie tells the tale of..."
                           required minlength="2"/>
                </div>
            </div>

            <!-- Setting the rating form: PG, PG-13, R etc.-->
            <div class="form-group row">
                <label class="col-4 col-form-label">Rating* :</label>
                <div class="col-8">
                    <select th:id="parentalguidancerating" class="col-4 form-control" name="parentalguidancerating" required>
                        <option selected></option>
                        <option>G</option>
                        <option>PG</option>
                        <option>PG-13</option>
                        <option>R</option>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:checked="${movie.nowShowing}" th:name="nowShowing"
                           th:id="nowShowing" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Now Showing?
                    </label>
                </div>
            </div>

            <br>

            <th:block th:each="category, status : ${movie.categories}">
                <h3>Category #[[${status.count}]]</h3>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Category:</label>
                    <div class="col-8">
                        <select class="col-4 form-control" name="category">
                            <option selected th:text="${category.category}"></option>
                            <option>Action</option>
                            <option>Comedy</option>
                            <option>Drama</option>
                            <option>Fantasy</option>
                            <option>Horror</option>
                            <option>Mystery</option>
                            <option>Romance</option>
                            <option>Superhero</option>
                            <option>Thriller</option>
                        </select>
                    </div>
                </div>

            </th:block>

            <th:block th:each="showing, status : ${showings}">
                <input type="hidden" name="showID" th:value="${showing.showID}"/>
                <input type="hidden" name="movieID" th:value="${movie.movieID}"/>
            <br>
            <h3>Showing Info #[[${status.count}]]</h3>
            <div class="form-group row">
                <label class="col-4 col-form-label">TheaterID : </label>
                <div class="col-8">
                    <input type="number" name="theaterID" placeholder="Theater Number (ie. 12)"
                           th:value="${showing.theaterID}" class="form-control" minlength="1" maxlength="2" min="1" max="100"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-8">
                    <label for="inputCity" class="col-4 col-form-label">Date: </label>
                    <input type="date" name="date" class="form-control" th:value="${showing.date}"

                           id="inputCity">
                </div>
                <div class="form-group col-4">
                    <label for="inputState" class="col-4 col-form-label">Hour: </label>
                    <input type="time" name="time" class="form-control" th:value="${showing.time}"
                           id="inputState"
                           minlength="2" maxlength="2"/>
                </div>
            </div>
            <br>
            </th:block>


            <th:block th:each="review, status : ${reviews}">
                <input type="hidden" name="showID" th:value="${review.reviewID}"/>
                <br>
            <h3>Review Info #[[${status.count}]]</h3>

            <div class="form-group row">
                <label class="col-4 col-form-label">Reviewer : </label>
                <div class="col-8">
                    <input type="text" name="reviewer" placeholder="John Doe"
                           class="form-control" th:value="${review.reviewer}"
                           minlength="2" maxlength="35"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Rating : </label>
                <div class="col-8">
                    <input type="number" name="rating" placeholder="Number out of 100 (ie. 85)" th:value="${review.rating}"
                           class="form-control" minlength="1" maxlength="2" min="1" max="100"/>
                </div>
            </div>

            <div class="form-group">
                <label data-toggle="tooltip">Review :</label>
                <div class="input-group">
                    <input type="text" name="review" th:value="${review.review}"
                           placeholder="A smash hit!" class="form-control"
                           minlength="8" maxlength="8000">
                </div>
            </div>
            </th:block>

            <br>
            <br>
            <input type="tel" name="movieID" id="movieID" style="display:none;"
                   th:value="${movieID}" class="form-control"
                   minlength="1" maxlength="3">
            <div>
                <button type="submit" class="btn btn-primary">Update Movie</button>
            </div>
            <br>
            <br>

        </form>
    </form>
    </form>
</div>
</body>
</html>