<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styleguide.css"/>
        <link rel="icon" type="image/png" href="img/fav.png">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
    </head>
    <body id="homepage">
        <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Cinema E-Booking</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <div sec:authorize="isAuthenticated() || isAnonymous()">
                                <a class="btn btn-success" th:href="@{/}">Home</a>
                            </div>

                            <div sec:authorize="isAuthenticated() || isAnonymous()">
                                <a class="btn btn-secondary" th:href="@{/categories}">Categories</a>
                            </div>

                            <div sec:authorize="isAnonymous()">
                                <a class="btn btn-secondary" th:href="@{/login}">Login</a>
                            </div>

                            <div sec:authorize="isAnonymous()">
                                <a class="btn btn-secondary" th:href="@{/register}">Register</a>
                            </div>

                            <div sec:authorize="isAuthenticated() || isAnonymous()">
                                <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>
                            </div>

                            <div sec:authorize="isAuthenticated()">
                                <a class="btn btn-secondary" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
                            </div>

                            <div sec:authorize="isAuthenticated()">
                                <a class="btn btn-secondary" href="javascript: logoutForm.submit();">Logout</a>
                            </div>

                            <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
                                <input type="submit" value="Logout" />
                            </form>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        </form>
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
        </header>
        <main>

            <div class="now-showing text-center">
                <h1 class="header">Now Showing</h1>

                <div class="container text-center testimonial-group" style="justify-content: center; display: flex;">
                    <div class="row text-center">
                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/8YjFbMbfXaQ?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Shang-Chi</h5>
                                <p class="card-text">Rated: PG-13</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/ybji16u608U?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Black Widow</h5>
                                <p class="card-text">Rated: PG-13</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/-FmWuCgJmxo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Venom</h5>
                                <p class="card-text">Rated: PG-13</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/Kd82bSBDE84?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">The Addams Family 2</h5>
                                <p class="card-text">Rated: PG</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="coming-soon text-center">
                <h1 class="header">Coming Soon</h1>

                <div class="container text-center testimonial-group" style="justify-content: center; display: flex;">
                    <div class="row text-center">
                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/9ix7TUGVYIo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">The Matrix 4</h5>
                                <p class="card-text">Rated: Unrated</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/togmdDHG3Pw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Encanto</h5>
                                <p class="card-text">Rated: Unrated</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/9ix7TUGVYIo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">Spiderman: No Way Home</h5>
                                <p class="card-text">Rated: Unrated</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>

                        <div class="card" style="width:240px">
                            <iframe src="https://www.youtube.com/embed/NLOp_6uPccQ?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">The Batman</h5>
                                <p class="card-text">Rated: Unrated</p>
                                <a href="#" class="btn btn-primary">Info/Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>