<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styleguide.css">
        <link rel="icon" type="image/png" href="img/fav.png">
    </head>
    <body id="seat-selection">
        <header>
            <div class="navbar">
                <span id="theater"><h1>Your Theater</h1></span>
                <div class="flex">
                    <input type="text" name="search" id="search" placeholder="Movie Title, Genre, or Showtime...">
                    <label for="search"><button type="button" id="search-input">Search</button></label>
                    <h3 class="nav">Home</h3>
                    <h3 class="nav">Categories</h3>
                    <h3 class="nav">Login/Register</h3>
                    <span class="cart-area">
                        <h3 class="nav">Cart</h3>
                        <img src="img/cart-black.png" id="cart">
                    </span>
                </div>
            </div>
        </header>
        <div class="orderConfirmed">
            <h1>Order Confirmed</h1>
            <br><br>
            <h2>Congratulations User! Your order has been placed successfully.<br />An email has been sent to you containing
                order details.</h2>
            <br>
            <h3>
                Order Total: $20.36<br />Booking #: 127<br />Order Details: 1x Child, 2x Adult<br />Movie: Shang Chi<br />Date:
                9/28/2021<br />Time: 7:15 PM<br />Seats: F13, F12, F11
            </h3>
        </div>
    </body>
</html>