<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/newstyle.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cinema E-Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/}">Home</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/categories}">Categories</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/login}">Login</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/register}">Register</a>
                </div>

                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary" th:href="@{/cart}">Cart</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-secondary" th:href="@{/admin-portal}">Admin Portal</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary" href="javascript: logoutForm.submit();">Logout</a>
                </div>

                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
                    <input type="submit" value="Logout" />
                </form>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
                <div style="float:left;">
                    <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2" minlength="1"
                           id="inputSearch" placeholder="Search">
                </div>
                <div style="float:left;">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </div>
            </form>
        </div>
    </nav>
</header>
<div class="container text-center">
    <div>
        <br>
        <h1>Password Reset</h1>
        <br>
        <p>Fill in your valid email and an email will be sent containing a new password.</p>
        <p>Login in with your new password and update your password from within your account page.</p>
        <br>
    </div>
    <form th:action="@{/process_reset}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <form class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail : </label>
                <div class="col-8">
                    <input type="email"  name="email" placeholder="user@email.com" class="form-control"
                           required/>
                </div>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </form>
</div>
</body>
</html>