<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <title>User Already Exists</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/newstyle.css"/>
  <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cinema E-Booking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div sec:authorize="isAuthenticated() || isAnonymous()">
          <a class="btn btn-secondary buttonColor" th:href="@{/}">Home</a>
        </div>

        <div sec:authorize="isAnonymous()">
          <a class="btn btn-secondary buttonColor" th:href="@{/login}">Login</a>
        </div>

        <div sec:authorize="isAnonymous()">
          <a class="btn btn-success buttonColor" th:href="@{/register}">Register</a>
        </div>

        <div sec:authorize="isAuthenticated() || isAnonymous()">
          <a class="btn btn-secondary buttonColor" th:href="@{/cart}">Cart</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-secondary buttonColor" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')">
          <a class="btn btn-secondary buttonColor" th:href="@{/admin-portal}">Admin Portal</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <a class="btn btn-secondary buttonColor" href="javascript: logoutForm.submit();">Logout</a>
        </div>

        <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
          <input class="buttonColor" type="submit" value="Logout" />
        </form>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
        <div style="float:left;">
          <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2" minlength="1"
                 id="inputSearch" placeholder="Search">
        </div>
        <div style="float:left;">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0 buttonColor">Search</button>
        </div>
      </form>
    </div>
  </nav>
</header>
<div class="container text-center">
  <br>
  <h3>User with this email already exists!</h3>
  <br>
  <p>Please sign in or sign up with a different email</p>
  <br>
  <a class="btn btn-primary buttonColor"
     th:href="@{/login}">Login</a></div>

</body>
</html>