<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${movie.title}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle.css"/>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <style>.iframe-embed {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
    .iframe-embed-wrapper {
        position: relative;
        display: block;
        padding: 0;
        overflow: hidden;
    }
    .iframe-embed-responsive-16by9 {
        padding-bottom: 56.25%;
    }
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 70%;
        padding: 10px;
    }

    .column2 {
        float: left;
        width: 30%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
        .column2 {
            width: 100%;
        }
    }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cinema E-Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <div sec:authorize="isAuthenticated() || isAnonymous()">
                    <a class="btn btn-secondary buttonColor" th:href="@{/}">Home</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-secondary buttonColor" th:href="@{/login}">Login</a>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="btn btn-success buttonColor" th:href="@{/register}">Register</a>
                </div>


                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary buttonColor" th:href="@{/profile}">[[${#request.userPrincipal.principal.fullName}]]</a>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-secondary buttonColor" th:href="@{/admin-portal}">Admin Portal</a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-secondary buttonColor" href="javascript: logoutForm.submit();">Logout</a>
                </div>

                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
                    <input class="buttonColor" type="submit" value="Logout" />
                </form>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <form th:action="@{/process_search}" method="post" class="form-inline my-2 my-lg-0">
                <div style="float:left;">
                    <input type="text" th:value="${search}" th:name="search" th:id="search" class="form-control  mr-sm-2" minlength="1"
                           id="inputSearch" placeholder="Search">
                </div>
                <div style="float:left;">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 buttonColor">Search</button>
                </div>
            </form>
        </div>
    </nav>
</header>
<div class="row">
    <div class="column" style="background-color:#aaa;">
        <div class="container">
            <br>
            <div>
                <h1 th:text="${movie.title}"></h1>
            </div>
            <br>

            <div class="iframe-embed-wrapper iframe-embed-responsive-16by9">
                <iframe class="iframe-embed" th:src="@{https://www.youtube.com/embed/{url}(url=${movie.trailer})}" width="560" height="315" frameborder="0" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
            </div>

            <br>
            <br>

            <h3 th:text="'Synopsis: ' + ${movie.synopsis}"></h3>
            <br>
            <br>
            <h3 th:text="'Rating: ' + ${movie.rating}"></h3>
            <br>
            <br>
            <h3>Categories:</h3>
            <th:block th:each="category, status : ${movie.categories}">
                <h3 th:text="${category.category}"></h3>
            </th:block>
            <br>
            <br>
            <h3>Reviews: </h3>
            <br>
            <th:block th:each="review, status : ${movie.reviews}">
                <h3 th:text="'Reviewer: ' + ${review.reviewer}"></h3>
                <h3 th:text="'Rating: ' + ${review.rating}"></h3>
                <h3 th:text="'Review: ' + ${review.review}"></h3>
                <br>
                <br>
            </th:block>
            <h3 th:text="'Director: ' + ${movie.director}"></h3>
            <br>
            <br>
            <h3 th:text="'Producer: ' + ${movie.producer}"></h3>
            <br>
            <br>
            <h3 th:text="'Cast: ' + ${movie.cast}"></h3>
            <br>
            <br>
        </div>
    </div>
    <input type="tel" name="movieTitle" id="movieTitle" th:value="${movie.getTitle()}" style="display:none;"
           class="form-control"
           minlength="1">
    <input type="tel" name="showID" id="showID" th:value="${id}" style="display:none;"
           class="form-control"
           minlength="1">
    <div class="column2" style="background-color:#bbb;">
        <br>
        <div class="row text-center">
            <h1>Showings</h1>
        <br>
            <br>
            <br>
        <th:block th:each="showing: ${showingList}">
            <div sec:authorize=isAuthenticated() class="col">
                <a onclick ="onClick()" th:text="${showing.getTime()} + ' on ' + ${showing.getDate()}" th:href="@{'/book-movie/' + ${showing.getShowID()}}" class="btn btn-primary buttonColor"></a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:text="${showing.getTime()} + ' on ' + ${showing.getDate()}" th:href="@{'/login/'}" class="btn btn-primary buttonColor"></a>
            </div>
            <br>
            <br>
        </th:block>
        </div>
    </div>
</div>
</div>
</div>
<script th:inline="javascript">
    let movieTitle = document.getElementById('movieTitle').value;
    let showID = document.getElementById('showID').value;
    function onClick() {
        sessionStorage.setItem("movieTitle", movieTitle);
        sessionStorage.setItem("showID", showID);
    }
</script>
</body>
</html>