<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styleguide.css">
        <link rel="icon" type="image/png" href="img/fav.png">
    </head>
    <body id="admin-home">
        <header>
            <div class="navbar">
                <span id="theater"><h1>Your Theater</h1></span>
                <div class="flex">
                    <input type="text" name="search" id="search" placeholder="Movie Title, Genre, or Showtime...">
                    <label for="search"><button type="button" id="search-input">Search</button></label>
                    <h3 class="nav">Home</h3>
                    <h3 class="nav">Categories</h3>
                    <h3 class="nav">Admin</h3>
                    <span class="cart-area">
                        <h3 class="nav">Cart</h3>
                        <img src="../img/cart-black.png" id="cart">
                    </span>
                </div>
            </div>
        </header>
        <br>
        <br>
        <div class="cartBox">
            <h2 style="float:left; margin-left:70%;">Quantity</h2>
            <h2 style="float:right; margin-right:5%;">Price</h2>
            <br><br>
            <h2 style="float:left; margin-top:10%">Shang-Chi September 28th, 2021 Showtime: 7:00 PM Adult</h2>
            <h2 style="float:left; margin-left:74%; margin-top:-2.75%">2</h2>
            <h2 style="float:right; margin-right:5%; margin-top:-2.6%">$12.00</h2>
            <h2 style="float:left; margin-top:3%;">Shang-Chi September 28th, 2021 Showtime: 7:00 PM Child</h2>
            <h2 style="float:left; margin-left:74%; margin-top:-2.7%;">1</h2>
            <h2 style="float:right; margin-right:5%; margin-top:-3% ">$5.00</h2>
            <h2 style="float:left; margin-top:12%;">Total</h2>
            <h2 style="float:left; margin-top:12%; margin-left:69%;">3</h2>
            <h2 style="float:right; margin-top:12%; margin-right:5%">$17.00 </h2>
        </div>
        <div class="checkoutButton"><a style="color:#000000; text-decoration:none;"href="checkout.html">Continue to Checkout</a></div>
    </body>
</html>