<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styleguide.css">
        <link rel="icon" type="image/png" href="img/fav.png">
    </head>
    <body id="purchase-history">
        <header>
            <div class="navbar">
                <span id="theater"><h1>Your Theater</h1></span>
                <div class="flex">
                    <input type="text" name="search" id="search" placeholder="Movie Title, Genre, or Showtime...">
                    <label for="search"><button type="button" id="search-input">Search</button></label>
                    <h3 class="nav">Home</h3>
                    <h3 class="nav">Categories</h3>
                    <h3 class="nav">Admin</h3>
                    <span class="cart-area">
                        <h3 class="nav">Cart</h3>
                        <img src="../img/cart-black.png" id="cart">
                    </span>
                </div>
            </div>
        </header>
        <main>
            <div class="purchases">
                <h1>Purchases</h1>
                <h2>Order Total: $20.36<br />Booking #: 127<br />Order Details: 1x Child, 2x Adult<br />Movie: Shang-Chi<br />Date:
                    9/28/2021<br />Time: 7:15 PM<br />Seats: F13, F12, F11</h2>
                    <br><br>
                <h2>Order Total: $20.36<br />Booking #: 123<br />Order Details: 1x Child, 2x Adult<br />Movie: Black Widow<br />Date:
                    9/26/2021<br />Time: 8:15 PM<br />Seats: F13, F12, F11</h2>
                    <br><br>
                <h2>Order Total: $20.36<br />Booking #: 127<br />Order Details: 1x Child, 2x Adult<br />Movie: Back to the
                    Future<br />Date: 9/21/2021<br />Time: 3:30 PM<br />Seats: F13, F12, F11</h2>
                    <br><br>
                <h2>Order Total: $20.36<br />Booking #: 127<br />Order Details: 1x Child, 2x Adult<br />Movie: Shang Chi<br />Date:
                    9/28/2021<br />Time: 7:15 PM<br />Seats: F13, F12, F11</h2>
            </div>
        </main>
    </body>
</html>